@import "../../styles/variables.scss";

.board {
  background-color: rgba(224, 224, 224, 0.22);
  padding: 6px;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  max-width: 1000px;
  box-sizing: border-box;
  overflow: auto;
  display: grid;
  justify-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  overflow-x: hidden;
  .small{
    font-size: 16px;
    cursor: pointer;
  }
}

.easy {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.medium {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.hard {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
}


