.layout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  box-sizing: border-box;
  margin-top: 100px;
  padding: 0;
  overflow-x: hidden;
}

@media (max-height: 500px) {
  .layout {
    margin-top: 0px;
  }
}
