.settings {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
  .levels {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    gap: 6px;
  }

  .addText {
    .wrapper {
      display: flex;
      justify-self: center;
      align-items: center;
    }
    span {
      border: 1px solid blue;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      display: inline;
      cursor: pointer;
      background-color: aliceblue;
      border-radius: 30px;
      padding: 3px;
      vertical-align: middle;
    }
    input {
      display: none;
    }
  }
}
