.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  position: absolute;
  bottom: 100px;
}

.tileContainer {
  display: flex;
  overflow: hidden;
  width: 200px;
}

.tile {
  width: 50px;
  margin: 0 5px;
  cursor: pointer;
}

.tileImage {
  width: 100%;
  height: auto;
}

.sliderButton {
  background-color: #007bff;
  border: none;
  color: rgb(54, 38, 202);
  background-color: aliceblue;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid blue;
}
